.Checklist {
    flex: 10 1 auto;
    border: solid;
    border-width: 1px;
    text-align: left;
  }

  .checklist-task.completed input {
    text-decoration: line-through;
  }

  .deleteButton {
    /* color: red;
    border-color: red; */
    color: white;
    background-color: red;
  }

  .checkButton {
    font-size:1.3ch;
    /* color: green;
    border-color: green; */
    color: white;
    background-color: green;
  }
  
  .emptyButton {
    font-size:1.5ch;
    width: 24px;
  }