.Checklist {
    flex: 10 1 auto;
    border: solid;
    border-width: 1px;
    text-align: left;
  }

  .checklistTask.completed input {
    text-decoration: line-through;
  }

  /* .deleteButton {
    color: white;
    background-color: red;
  }

  .checkButton {
    font-size:1.3ch;
    color: white;
    background-color: green;
  }
  
  .emptyButton {
    font-size:1.5ch;
    width: 24px;
  } */

  .checklistTask {
    flex-direction: row;
    display: flex;
    margin: 3px;
  }
  
  .taskTextBox {
    background-color: #d8bbaa;
    border-bottom: solid;
    border-top: solid;
    border-left: none;
    border-right: none;
    border-width: 2px;
  }

  .deleteButton {
    color: white;
    background-color: red;
    border-width: 2px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .checkButton {
    font-size:1.3ch;
    color: white;
    background-color: green;
    border-width: 2px;
    border-left: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .emptyButton1 {
    font-size:1.5ch;
    width: 24px;
    background-color: #808080;
    border-width: 2px;
    border-left: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }