.overall {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.menuSection {
    flex: 1 1 25%;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    text-align: center;
  }


.lists {
  flex-direction: row;
  display: flex;
  margin: 3px;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
}

.listNumber {
  width: 100%;
}

.leftTop {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checklistSection {
  border-left: solid;
  border-right: solid;
  flex: 1 1 75%;
  display: flex;
  flex-direction: column;
}

.centerTop {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titles {
  /* background-color: #c3a8af; */
  /* background-color: #306160; */
  /* background-color: #3b7876; */
  background-color: #d8bbaa;
  padding: 15px;
  border-radius: 10px;
}

.centerBottom {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.selectedButton {
  font-size:1.5ch;
  width: 24px;
}

.removeList {
  color: white;
  background-color: red;
  border-right: solid black;
  border-width: 2px;
  border: none;
}

.selectedButton {
  border-left: solid black;
  background-color: #808080;
  border-width: 2px;
  border: none;
  border-radius: 3px;
}

.emptyButton {
  border-left: solid black;
  background-color: #808080;
  border-width: 2px;
  border: none;
  border-radius: 3px;
  font-size:1.5ch;
  width: 24px;
}

.listNumber {
  text-align: center;
  background-color: #d8bbaa;
  border: none;
}

.growTreeButton {
  display: flex;
  width: 85px;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

/* #ddc3b5 */