.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: stretch;
    justify-content: space-between;
    background-color:#A8C3BC;
    background-image: linear-gradient(#A8C3BC, #8cb0a7, #6e9b90);
  }
  
  /* #A8C3BC, #8cb0a7, #6e9b90, #5e887d, #4d7067, #3d5851 */

  .mainLeft {
    flex: 1 1 80%;
    display: flex;
  }

  .titles {
    /* background-color: #c3a8af; */
    /* background-color: #306160; */
    /* background-color: #3b7876; */
    background-color: #c4977d;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Corben', Georgia, Times, serif;
  }

  
  .mainRight {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .mainRight .right-half {
    height: 100%;
  }

  .mainRight .right-top {
    border-bottom: solid black 3px;
  }
  
  .mainRight .half-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 60%;
    height: auto;
    display: block;
  }

  h1 {
    text-shadow: 1px 1px 1px #ccc;
  }

  div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
  }

  .button {
    background-color: #808080;
    border: 0;
    color: #fefbef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 0.5rem;
    padding: 5px;
    border-radius: 5px;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #505050;
  }

  .button2:hover {
    cursor: pointer;
  }