.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: stretch;
    justify-content: space-between;
    background-color:#A8C3BC;
    
  }
  
  .mainLeft {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
  }

  .leftTop {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainCenter {
    border-left: solid;
    border-right: solid;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
  }

  .centerTop {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titles {
    /* background-color: #c3a8af; */
    /* background-color: #306160; */
    /* background-color: #3b7876; */
    background-color: #c4977d;
    padding: 15px;
    border-radius: 10px;
  }

  .centerBottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  
  .mainRight {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  
  .mainRight > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 60%;
    height: auto;
    display: block;
  }