.Tree {
  display: flex;
  justify-content: center;
  transform: translateY(70px);
  }

  .photo1 {
    width: 60px;
  }
  
  .photo2 {
    width: 64px;
  }

  .photo3 {
    width: 72.5px;
  }

  .photo4 {
    width: 68.5px;
  }

  .photo5 {
    width: 78px;
  }
