.Tree {
  display: flex;
  justify-content: center;
  transform: translateY(70px);
  }

  .photo1 {
    width: 70px;
  }
  
  .photo2 {
    width: 70px;
  }

  .photo3 {
    width: 70px;
  }

  .photo4 {
    width: 70px;
  }

  .photo5 {
    width: 70px;
  }
